@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #263238;
}

.link{
    color: #263238;
    text-decoration: none;
}

.link--nav{
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 20px;
    color: #9E9E9E;
}

.link--nav:hover{
    color: #000;
}

.link--nav-img{
    width: 30px;
    height: 15px;
    margin-right: 10px;
    background: url('../images/icons/arrow.svg') no-repeat center;
}

.line{
    border: none;
    height: 1px;
    background-color: #C8D1DD;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding-top: 60px;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.box-logo{
    width: 200px;
    height: 50px;
    background: url('../images/icons/logo.svg') no-repeat center;
    margin-bottom: 50px;
}

.box-title{
    font-size: 44px;
    margin-bottom: 80px;
}

.box-title--small{
    font-size: 24px;
    margin-bottom: 40px;
}

.form-wrapper{
    width: 85%;
    margin: 0 auto;
}

.form-wrapper--indent{
    margin-bottom: 120px;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.input{
    width: 100%;
}

.input--txt{
    height: 40px;
    border: none;
    border-bottom: 1px solid #C8D1DD;
}

.txt--error-block .input{
    border-color: #D94A56;
}

.input--btn{
    cursor: pointer;
    height: 55px;
    border: none;
    border-radius: 5px;
    background-color: #0066F2;
    font-weight: 600;
    color: #fff;
}

.input--btn:hover{
    background-color: #0053F0;
}

.input--btn:disabled{
    background-color: #B9CAEB;
}

.input--checkbox{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.form__el{
    position: relative;
    margin-bottom: 45px;
}

.form__el-eye,
.form__el-error-pic{
    position: absolute;
    right: 0;
    top: 10px;
}

.form__el-eye,
.form__el-error-pic,
.message-errror__pic{
    width: 25px;
    height: 25px;
}

.form__el-message{
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}

.form__el-message--rightside{
    justify-content: flex-end;
    padding-top: 30px;
    font-size: 14px;
}

.form__el-eye{
    background: url('../images/icons/eye.svg') no-repeat center;
    cursor: pointer;
}

.form__el-error{
    font-size: 12px;
    color: #D94A56;
}

.form__el-error-pic,
.message-errror__pic{
    background: url('../images/icons/error.svg') no-repeat center;
}

.form__el {
	position: relative;
}

.form__el-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form__el-label {
    pointer-events: none;
	position: absolute;
	top: .7em;
	left: 0;
    color: #CFD8DC;
}

.form__el-input:focus {
    outline: none;
    border-color: #0066F2;
}

.form__el-input:focus + .form__el-label,
.form__el--filled .form__el-label {
	top: -1.5em;
    color: #0066F2;
    font-size: 12px;
}

.form__el--filled .form__el-label{
    color: #64768F;
}

.txt--small{
    font-size: 12px;
    color: #64768F;
}

.txt--blue{
    font-weight: 600;
    color: #0066F2;
}

.txt--error{
    position: absolute;
    padding: 7px 0;
    color: #D94A56;
}

.message-errror{
    position: absolute;
    top: 195px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: #E34040;
}

.message-errror__pic{
    margin-right: 10px;
}

.block-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.block-mail__pic{
    width: 50px;
    height: 40px;
    background: url('../images/icons/mail.svg') no-repeat center;
    background-size: cover;
    margin-bottom: 35px;
}

.block-mail__title{
    margin-bottom: 35px;
    font-size: 24px;
    color: #0066F2;
}

.box-bottom{
    text-align: center;
}

.box-bottom__txt{
    padding: 20px 0;
}

.form__el-input,
.form__el-label,
.link--nav,
.input--btn {
	-webkit-transition: all .2s;
	transition: all .2s;
}