@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
select,
option {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #263238;
}

.link {
  color: #263238;
  text-decoration: none;
}

.link--nav {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 20px;
  color: #9e9e9e;
}

.link--nav:hover {
  color: #000;
}

.link--nav-img {
  width: 30px;
  height: 15px;
  margin-right: 10px;
  background: url("../images/icons/arrow.svg") no-repeat center;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.line {
  border: none;
  height: 1px;
  background-color: #c8d1dd;
}

.title {
  font-weight: 600;
}

.title--switch .link {
  margin-right: 50px;
  line-height: 40px;
}

.title--switch .link--active {
  border-bottom: 4px solid #0066f2;
  ;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.wrapper--registration {
  padding-top: 60px;
}

.registration-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.box--small {
  padding: 0 50px;
}

.box--small .input {
  margin-bottom: 30px;
}

.box-img {
  position: absolute;
  top: 90px;
  right: 55px;
  width: 56px;
  height: 56px;
}

.box-logo {
  width: 200px;
  height: 50px;
  background: url("../images/icons/logo.svg") no-repeat center;
  margin-bottom: 50px;
}

.registration-header .box-logo,
.registration-header .link {
  margin: 0;
}

.box-title {
  font-size: 44px;
  margin-bottom: 80px;
}

.box-title--blue {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
  font-size: 56px;
  color: #0066f2;
}

.box-title--small {
  font-size: 24px;
  margin-bottom: 40px;
}

.box-txt {
  margin-bottom: 65px;
}

.range-bar {
  position: relative;
  height: 2px;
  width: 100%;
  background: #C8D1DD;
  padding: 0 20px;
}

.range-pointer-low,
.range-pointer-high {
  position: absolute;
  top: -6px;
  width: 14px;
  height: 14px;
  background-color: #0066F2;
  border-radius: 50%;
}

.range-pointer-low {
  right: 20px;
}

.range-pointer-high {
  left: 20px;
}

.range-line {
  width: 100%;
  height: 100%;
  background-color: #0066F2;
}

.form-wrapper {
  width: 85%;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.table {
  width: 100%;
  z-index: 800;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-small-column{
  width: 50px;
}

.table-medium-column{
  width: 170px;
}

.table-big-column{
  width: 200px;
}

.table--main th,
.table--main td {
  text-align: start;
  border-bottom: 1px solid #C8D1DD;
  font-size: 12px;
}

.table--main td {
  padding: 30px 0;
}

.table--main th,
.table .main-table__header-link {
  text-transform: uppercase;
  color: #C8D1DD;
  padding: 15px 0;
}

.table--calendar {
  width: 300px;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-bottom: 20px;
}

.table--calendar:first-child {
  padding-right: 20px;
  border-right: 1px solid #E5E5E5;
}

.table--calendar:last-child {
  padding-left: 20px;
}

.table--calendar tbody {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table--calendar td {
  text-align: center;
  cursor: pointer;
}

.table--calendar td:first-child,
.table-mark-start {
  border-radius: 8px 0px 0px 8px;
}

.table--calendar td:last-child,
.table-mark-end {
  border-radius: 0px 8px 8px 0px;
}

.table-month {
  position: relative;
  font-size: 16px;
  font-weight: 600;
}

.table-month__prev,
.table-month__next {
  position: absolute;
  top: 15px;
  width: 20px;
  height: 7px;
}

.table-month__prev {
  left: 20px;
  background: url('../images/icons/table/arrow-prev-table-head.svg') no-repeat;
}

.table-month__next {
  right: 20px;
  background: url('../images/icons/table/arrow-next-table-head.svg') no-repeat;
}

.table-opacity {
  opacity: 0.5;
}

.table-mark,
.table-mark-start,
.table-mark-end {
  background-color: #0066F2;
  /* border-radius: 8px; */
  color: #FFFFFF;
}

.table-mark {
  border-radius: 8px;
}

.table-interval {
  background-color: #e6f0ff;
}

.table-point {
  position: relative;
}

.table-point::after {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 17px;
  width: 6px;
  height: 6px;
  background-color: #0066F2;
  border-radius: 50%;
}

.table-mark.table-point::after,
.table-mark-start.table-point::after,
.table-mark-end.table-point::after {
  background-color: #FFFFFF;
}

.main-table__header-link {
  display: flex;
  align-items: center;
}

.table-status {
  position: relative;
  display: block;
}

.link.table-status::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: url(../images/icons/arrow-down-input.svg);
}

.table-status::before,
.popup-menu__status::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.table-status--new::before {
  background-color: #0066F2;
}

.table-status--on-review::before {
  background-color: #FF7E33;
}

.table-status--need-info::before {
  background-color: #FFE600;
}

.table-status--approved::before {
  background-color: #47A04B;
}

.table-status--rejected::before {
  background-color: #D94A56;
}

.main-table__header-link::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 10px;
  margin: 0 5px;
  background: url('../images/icons/table/arrow-double-table.svg') no-repeat;
}

.main-table__main-status {
  position: relative;
}

.main-table__main-name .txt{
  line-height: 38px;
  vertical-align: top;
}

.main-table__main-name-img{
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: #E5E5E5;
  overflow: hidden;
}

.main-table__main-name-img .img,
.alert-picture .img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-table__main-delete{
  width: 12px;
  height: 12px;
  background: url('../images/icons/table/bin.svg') no-repeat;
  border: none;
  cursor: pointer;
}

.input {
  width: 100%;
}

.input--txt {
  height: 40px;
  border: none;
  border-bottom: 1px solid #c8d1dd;
}

.input--select {
  position: relative;
  display: block;
}

.input--radio {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.input--status,
.input--date,
.input--currency {
  width: 170px;
}

.input--searcher {
  width: 330px;
}

.input--searcher,
.input--status,
.input--currency,
.input--date,
.input--number {
  height: 40px;
  border: 1px solid #C8D1DD;
  border-radius: 5px;
  font-size: 14px;
}

.input--number {
  padding: 0 10px;
}

.txt--error-block .input {
  border-color: #d94a56;
}

.input--btn {
  cursor: pointer;
  height: 55px;
  border: none;
  border-radius: 5px;
  background-color: #0066f2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.input--btn:hover {
  background-color: #0053f0;
}

.input--btn:disabled {
  background-color: #b9caeb;
}

.input--btn--yellow {
  background-color: #FFE600;
}

.input--btn--plus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input--btn--plus::before {
  content: '';
  display: inline-block;
  margin-right: 15px;
  width: 14px;
  height: 14px;
  background: url('../images/icons/business structure/plus.svg');
}

.input--btn--light {
  background-color: #ffffff;
  border: 1px solid #0053f0;
  color: #0053f0;
}

.input--btn--light:hover {
  color: #ffffff;
}

.input--checkbox {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.form__message {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: #F6F6F6;
  border-radius: 8px;
  font-size: 12px;
}

.form__el {
  position: relative;
  margin-bottom: 45px;
}

.form__el-radio {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  padding: 20px 0;
}

.form__el-radio-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 35px;
}

.form__el-radio-label--checked {
  font-weight: 600;
}

.form__el-eye,
.form__el-pencil,
.form__el-error-pic,
.form__el-btns,
.form__el-btns-input {
  position: absolute;
  right: 0;
  top: 10px;
}

.form__el-btns-input {
  top: 0;
}

.form__el-btns-input .input {
  height: 35px;
  padding: 0 20px;
  font-size: 14px;
}

.form__el-eye,
.form__el-pencil,
.form__el-error-pic,
.message-errror__pic {
  width: 25px;
  height: 25px;
}

.form__el-status {
  padding: 7px 0;
}

.form__el-message {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
}

.form__el-message--rightside {
  justify-content: flex-end;
  padding-top: 30px;
  font-size: 14px;
}

.form__el-message--leftside {
  justify-content: flex-start;
  padding-top: 30px;
  font-size: 16px;
}

.form__el-message--leftside .link {
  padding-left: 10px;
}

.form__el-eye {
  background: url("../images/icons/eye.svg") no-repeat center;
  cursor: pointer;
}

.form__el-eye--checked {
  background: url("../images/icons/eye-checked.svg") no-repeat center;
}

.form__el-pencil {
  background: url("../images/icons/pencil.svg") no-repeat center;
  cursor: pointer;
}

.form__el-btns {
  display: flex;
  justify-content: flex-end;
}

.form__el-btns .form__el-pencil {
  margin-left: 10px;
}

.form__el-btns .form__el-eye,
.form__el-btns .form__el-pencil {
  position: relative;
  top: 0;
}

.form__el-error {
  font-size: 12px;
  color: #d94a56;
}

.form__el-error-pic,
.message-errror__pic {
  background: url("../images/icons/error.svg") no-repeat center;
}

.form__el {
  position: relative;
}

.form__el-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__el-label {
  pointer-events: none;
  position: absolute;
  top: 0.7em;
  left: 0;
  color: #cfd8dc;
}

.form__el-verification {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding: 15px 60px 0 0;
}

.form__el-verification .input {
  width: 52px;
  height: 52px;
  border: 1px solid #C8D1DD;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: #0066F2;
}

.form__el-verification-valiable {
  position: absolute;
  right: 0;
  top: 30px;
  width: 25px;
  height: 25px;
}

.input:focus {
  outline: none;
  border-color: #0066f2;
}

.input:focus+.form__el-label,
.form__el--filled .form__el-label {
  top: -1.5em;
  color: #0066f2;
  font-size: 12px;
}

.form__el--filled .form__el-label {
  color: #64768f;
}

.form__btns {
  display: flex;
  justify-content: space-between;
}

.form__btns .input--btn {
  width: 49%;
}

.searcher {
  position: relative;
}

.searcher .input {
  padding-left: 45px;
}

.searcher-loupe {
  position: absolute;
  top: 6px;
  left: 10px;
  width: 24px;
  height: 24px;
}

.page-controller {
  display: flex;
  align-items: center;
}

.page-controller .link {
  color: #64768F;
}

.page-controller__num {
  display: flex;
  align-items: center;
  margin: 0 25px;
}

.page-controller__num .link {
  display: block;
  width: 30px;
  margin: 0 5px;
  text-align: center;
  line-height: 30px;
}

.page-controller__num .link--active {
  background: rgba(0, 102, 242, 0.1);
  border: 1px solid #B9CAEB;
  border-radius: 5px;
  color: #0066F2;
}

.page-controller__img {
  margin: 0 5px;
}

.txt--small {
  font-size: 12px;
  color: #64768f;
}

.txt--blue {
  font-weight: 600;
  color: #0066f2;
}

.txt--black {
  color: #263238;
}

.txt--orange {
  background-color: #FF7E33;
  text-transform: uppercase;
  font-weight: 500;
}

.txt--error {
  position: absolute;
  padding: 7px 0;
  color: #d94a56;
}

.message-errror {
  position: absolute;
  top: 195px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: #e34040;
}

.box--small-error .box-title--small {
  margin-bottom: 75px;
}

.box--small-error .message-errror {
  top: 160px;
}

.message-errror__pic {
  margin-right: 10px;
}

.block-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.block-mail--small {
  width: 60%;
  text-align: start;
}

.block-mail__pic {
  width: 50px;
  height: 40px;
  background: url("../images/icons/mail.svg") no-repeat center;
  background-size: cover;
  margin-bottom: 35px;
}

.block-mail__title {
  margin-bottom: 35px;
  font-size: 24px;
  color: #0066f2;
}

.box-bottom {
  width: 600px;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.box-bottom__txt {
  padding: 20px 0;
}

.body-grey {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
}

.alert {
  position: fixed;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #adb1b780;
}

.alert-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  padding: 50px 130px;
  background-color: #ffffff;
  border-top: 8px solid #0066f2;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.alert-picture{
  position: relative;
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.alert-block__img {
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}

.alert-block__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
  color: #0066f2;
}

.alert-block__btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.alert-block__txt {
  margin-bottom: 40px;
}

.alert-block__btns .input {
  width: 49%;
}

.header {
  background-color: #0066f2;
}

.header,
.main {
  position: relative;
  z-index: 20;
}

.header-box,
.main {
  padding: 30px;
}

.header-box__logo {
  display: block;
  width: 110px;
  height: 20px;
  background: url("../images/icons/logo-white.svg") no-repeat center;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main-menu {
  position: relative;
  height: 770px;
  margin-right: 30px;
}

.main-menu--padding {
  padding-top: 30px;
}

.main-menu--isclose .main-menu__link {
  width: 50px;
}

.main-menu--isclose .main-menu__header {
  justify-content: center;
}

.main-menu--isclose .main-menu__footer-close img {
  transform: rotate(180deg);
}

.main-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-menu__header-close,
.alert-picture__close {
  width: 10px;
  height: 10px;
  background: url("../images/icons/close.svg") no-repeat center;
}

.alert-picture__close{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
}

.main-menu__footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-menu__footer-settings:hover {
  color: #263238;
  font-weight: 600;
}

.main-menu__footer-settings:hover .main-menu__link-block {
  display: none;
}

.main-menu__footer-settings:hover .main-menu__link-block--active {
  display: block;
}

.main-menu__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 225px;
  line-height: 16px;
  padding: 10px 0;
  margin-bottom: 10px;
  color: #b9caeb;
}

.main-menu__link-block,
.main-menu__link-block--active,
.settings-link__img,
.settings-link__img--active {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.main-menu__link-block--active {
  display: none;
}

.main-menu__link--active {
  color: #263238;
  font-weight: 600;
  border-right: 4px solid #0066f2;
}

.main-menu__link--active .main-menu__link-block {
  display: none;
}

.main-menu__link--active .main-menu__link-block--active {
  display: block;
}

.main-menu__settings {
  position: absolute;
  bottom: 0;
}

.main-menu__settings .settings {
  display: none;
}

.main-menu__settings--active .settings {
  display: block;
}

.main-menu__settings--active .main-menu__settings-link,
.main-menu__settings--active .main-menu__footer-settings {
  display: none;
}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  line-height: 37px;
  color: #64768F;
}

.main-header {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.main-header .input,
.main-footer .input {
  margin-right: 15px;
  height: 37px;
}

.main-footer .txt {
  margin-right: 15px;
}

.main-header .input--btn {
  width: 120px;
  margin: 0;
}

.main-header__filters,
.main-header__searcher,
.main-footer__number,
.main-footer__pages {
  display: flex;
}

.main-footer__pages .txt {
  margin-right: 50px;
}

.popup {
  position: relative;
}

.popup .input {
  padding: 0 20px 0 80px;
}

.popup .input--btn{
  width: 100px;
  padding: 0;
  font-size: 14px;
}

.popup .input--status {
  padding: 0 45px 0 60px;
}

.popup .input--date{
  padding-left: 50px;
}

.popup .input--cost{
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup .input--cost:hover{
  background-color: #FFFFFF;
  color: #0066F2;
}

.popup .input--cost::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url('../images/icons/table/filter.svg') no-repeat;
}

.popup .label {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 37px;
  color: #29354B;
}

.popup .label-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 15px;
  height: 15px;
  background: url('../images/icons/arrow-down-input.svg');
}

.popup .input-count {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 17px;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #0066F2;
  border-radius: 3px;
}

.popup-menu {
  min-width: 170px;
}

.popup--active .popup-menu {
  display: block;
}

.popup--active .label-btn,
.popup--active .table-status::after {
  transform: rotate(180deg);
}

.popup-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 900;
  background-color: #FFFFFF;
  color: #263238;
  border-top: 8px solid #0066F2;
  border-radius: 8px;
  box-shadow: 0px 5px 20px 0px rgba(34, 60, 80, 0.2);
  overflow: hidden;
}

.popup-menu--date {
  padding: 25px;
}

.popup-menu--range{
  padding: 30px;
}

.popup-menu--range .popup-menu__bottom-control{
  margin-bottom: 20px;
}

.popup-menu--range .range-bar{
  margin-bottom: 40px;
}

.popup-menu--range .popup-menu__bottom-btns{
  justify-content: flex-end;
}

.popup-menu__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  line-height: 35px;
}

.input--checkbox:checked+.txt {
  color: #0066F2;
  font-weight: 600;
}

.popup-menu__item:hover {
  background: rgba(0, 95, 234, 0.1);
  color: #0066F2;
}

.popup-menu__tables {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #C8D1DD;
}

.popup-menu__bottom {
  display: flex;
  justify-content: space-between;

}

.popup-menu__bottom-control,
.popup-menu__bottom-btns {
  display: flex;
}

.popup-menu__bottom .input {
  height: 37px;
}

.popup-menu__bottom-control .input {
  width: 90px;
  margin-right: 10px;
  padding: 0 10px;
}

.popup-menu__bottom-control .input:last-child {
  margin: 0;
}

.popup-menu__bottom-control .input--currency {
  width: 100px;
}

.popup-menu__bottom-control .img {
  margin-right: 10px;
}

.popup-menu__bottom-btns .input {
  width: 90px;
  padding: 0;
  margin-left: 20px;
}

.main-table__main-status .popup-menu {
  top: 50px;
  width: 136px;
  border: none;
}

.main-footer .input--number {
  width: 65px;
}

.main-table {
  margin-bottom: 15px;
  height: 630px;
  overflow-y: scroll;
  padding: 10px 30px;
}

.settings {
  position: absolute;
  bottom: 75px;
  width: 250px;
  padding-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #c8d1dd;
  border-radius: 8px;
  overflow: hidden;
}

.settings-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c8d1dd;
}

.settings-header__photo {
  width: 56px;
  height: 56px;
  margin-right: 10px;
  background-color: #ebf3ff;
  background-image: url("../images/icons/settings/profile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  border-radius: 50%;
}

.settings-header__info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.settings-header__info-name {
  font-size: 14px;
}

.settings-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  color: #64768f;
}

.settings-link__img--active {
  display: none;
}

.settings-link:hover {
  background-color: #f6f6f6;
  color: #263238;
}

.settings-link:hover .settings-link__img {
  display: none;
}

.settings-link:hover .settings-link__img--active {
  display: block;
}

.main-box {
  width: 100%;
}

.main-box__bread-crumbs {
  margin-bottom: 30px;
  font-size: 10px;
  color: #64768F;
}

.main-box__title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #0066f2;
}

.main-box__title--flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-box__title--flex .input {
  height: 37px;
  width: 166px;
}

.main-box__title--flex .input--btn--plus{
  width: 210px;
}

.main-box__title--flex .popup{
  display: flex;
}

.main-box__title--flex .label-btn {
  right: 10px;
}

.main-box__title--flex .input-count {
  right: 30px;
}

.main-box__title .title {
  font-size: 24px;
}

.main-content {
  width: 100%;
  min-height: 630px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px 35px;
}

.main-content::-webkit-scrollbar {
  width: 25px;
}

.main-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #C8D1DD;
  border: 10px solid white;
  border-radius: 20px;
}

.main-content--sole-proprietorship .main-content__container--second,
.main-content--sole-proprietorship .main-content__img,
.main-content__img--sole-proprietorship {
  display: none;
}

.main-content--sole-proprietorship .main-content__img--sole-proprietorship {
  display: block;
}

.main-content--bricks {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding-right: 60px;
  background-color: #f6f6f6;
}

.main-content--bricks--small,
.main-content--bricks--big,
.main-content--bricks--medium,
.main-content--bricks--max {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 30px;
}

.main-content--bricks--big {
  width: 630px;
}

.main-content--bricks--small {
  width: 400px;
}

.main-content--bricks--medium {
  width: 48%;
}

.main-content--bricks--max {
  width: 100%;
  padding: 60px;
}

.main-content--bricks--max .bricks-content-title {
  margin-bottom: 30px;
}

.main-content--bricks--max .bricks-content-txt {
  margin: 0;
}

.main-content__colums {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.main-content__colums-item {
  width: 33%;
  margin-right: 25px;
  font-size: 14px;
  color: #64768F;
}

.main-content__colums-item--bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-content__colums-item .title,
.main-content__item .link {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #263238;
}

.main-content__item .title--switch {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-content__colums-item p {
  margin-bottom: 25px;
}

.main-table {
  padding: 10px 30px;
}

.bricks-title {
  font-size: 18px;
  color: #64768f;
  margin-bottom: 30px;
}

.bricks-content {
  position: relative;
  font-size: 14px;
}

.bricks-content-img {
  position: absolute;
  top: 75px;
  left: 265px;
}

.bricks-content-title {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  margin-bottom: 15px;
}

.bricks-content-txt {
  margin-bottom: 35px;
}

.bricks-btn {
  width: 245px;
}

.graph-money,
.bricks-content__money {
  font-size: 36px;
  margin-bottom: 15px;
}

.bricks-content__money {
  margin-bottom: 40px;
}

.bricks-content__status {
  margin-bottom: 30px;
}

.bricks-content__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  border-top: 1px solid #c8d1dd;
}

.graph {
  padding-top: 30px;
  text-align: center;
}

.graph-status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #64768f;
}

.graph-status__img {
  width: 10px;
  height: 20px;
  margin-right: 10px;
}

.graph-status__img--negative {
  display: none;
}

.graph-status--negative .graph-status__img--negative {
  display: block;
}

.graph-status--negative .graph-status__img--positive {
  display: none;
}

.graph-body {
  position: relative;
  min-height: 150px;
}

.graph-body__bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #64768f;
  line-height: 45px;
  border-top: 1px solid #c8d1dd;
}

.main-content__title {
  font-size: 36px;
  font-weight: 600;
  color: #263238;
  margin-bottom: 30px;
}

.main-content__title--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content__title-item {
  display: flex;
  align-items: center;
}

.main-content__title-item .txt {
  margin-right: 10px;
  white-space: nowrap;
}

.main-content__title-item .txt--orange {
  padding: 0 15px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
  border-radius: 8px;
}

.main-content__title-item .input {
  height: 40px;
  padding: 0 15px;
}

.main-content__title-item .input--btn--plus {
  padding: 0 25px;
}

.main-content .line {
  margin-bottom: 50px;
}

.main-content__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 130px;
}

.main-content__block-info {
  width: 35%;
}

.main-content__block-info .txt {
  margin-bottom: 30px;
}

.main-content__block-info-img {
  position: relative;
}

.main-content__block-info-img-btns {
  position: absolute;
  left: 140px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.main-content__block-form {
  width: 65%;
  padding: 20px 80px 0 25px;
}

.main-content__form {
  width: 45%;
}

.main-content__form .input--txt {
  padding-right: 70px;
}

.status-bar {
  position: relative;
  width: 100%;
  height: 7px;
  border-radius: 8px;
  overflow: hidden;
}

.status-bar__gradient {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      #d94a55 0%,
      #e26e40 15%,
      #ea9129 30%,
      #f2b917 45%,
      #efd507 60%,
      #e6eb06 75%,
      #a2d133 90%,
      #25ad4b 100%);
}

.status-bar__progress {
  position: absolute;
  z-index: 200;
  top: 0px;
  right: 0;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #c8d1dd inset;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.form__el-input,
.form__el-label,
.link--nav,
.settings-link,
.input--btn {
  -webkit-transition: all .2s;
  transition: all .2s;
}

